<div data-ng-hide="playerReady" data-ng-show="showLoadingFancy" class="loading-indicator"></div>
<div data-ng-hide="playerReady" data-ng-show="showLoading" class="fixed loading-bar" style="font-size: 13px;position: fixed;top: 0px;right:50%;width: 185px;margin-right:-95px;background: white;padding: 0px 0px 3px 5px;z-index: 1000000;font-weight:bold;">
    <span><img style="padding-top:5px;position: relative;top: 3px;" src="http://d36k3b01vg7peu.cloudfront.net/gzip/busy.gif"> Loading Please Wait...</span>
</div>
<div data-ng-hide="playerReady" data-ng-show="showLoading" class="fixed loading-bar" style="font-size: 13px;position: fixed;bottom: 0px;right: 50%;margin-right:-95px;width: 185px;background: white;padding: 0px 0px 3px 5px;font-weight:bold;z-index: 1000000;">
    <span><img style="padding-top:5px;position: relative;top: 3px;" src="http://d36k3b01vg7peu.cloudfront.net/gzip/busy.gif"> Loading Please Wait...</span>
</div>

<style>
    .playBtn {
        background: url('http://d36k3b01vg7peu.cloudfront.net/gzip/play.png');
        height: 25px;
        width: 25px;
        position: absolute;
        top: 50%;
        margin-left:-13px;
        margin-top:-13px;
        opacity: 1;
        background-size: 25px 25px;
        background-repeat: no-repeat;
        left: 50%;
        cursor: pointer;
    }
    .img-area:hover + .playBtn {
        opacity: 1;
    }
    .playBtn:hover {
        opacity: 1;
        box-shadow: 1px 1px 18px #fff;
        border-radius: 5px;
    }
    .relatedVideosLoading {
        color: white;
        margin:0 auto;
        padding-top:5px;
        text-align: center;
    }

</style>
<script>
    var loadingFirst = document.getElementsByClassName('loading-indicator-first')[0];
    loadingFirst.parentNode.removeChild(loadingFirst);
</script>
<div id="welcome-banner" class="alert alert-info alert-dismissible" role="alert">
    GreatVideo.org is a <strong>Video Discovery Engine</strong>. Click a Video and it loads related videos. Scroll and it loads videos of interest. Change the thumb size with toggle button below.
</div>
<div style="text-align: left;z-index:10000000000;position:absolute;" id="autocompleteEl"></div>
<div class="header" style="margin-bottom:0px;padding:0px">
    <div class="progress active">
        <div class="progress-bar progress-bar-danger active"  role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: {{currentLoadedPercentage}}%">
        {{currentLoadedPercentage | number:0 }} %
        </div>
    </div>
    <!--
    <h3 class="text-muted">Video Wall</h3>
    <div class="alert alert-success">
        <b> Welcome!</b> Click an image to load the video. It will load related videos. Scroll it will keep loading related or more videos for a search term.
    </div>
    -->
    <form ng-submit="searchAction()" >
        <div style="display:table;width:100%">
            <div style="display:table-cell;width: 197px;padding-top:1px;vertical-align:top">
                <a border="0" href="http://www.greatvideo.org/">
                    <img src="http://d36k3b01vg7peu.cloudfront.net/gzip/avlogo.png" style="margin-top: 5px;margin-left: 10px;margin-right: 4px;width: 86%;max-height:35px;">
                </a>
            </div>
            <div style="display:table-cell;width: 32%;">
                <input style="height: 25px;" id="youtubeSearch" placeholder="Search" type="text" data-ng-model="searchTerm" class="form-control" />
            </div>
            <div style="display:table-cell;vertical-align: top;">
                <button class="btn btn-primary" style="margin-right: 10px;height: 38px;margin-bottom: 3px;border-radius: 0px 6px 6px 0px;margin-left: 4px;" data-ng-click="searchAction();" id="buttonSearch"  type="button">Go!</button>
            </div>
            <div style="display:table-cell;width: 25%;vertical-align:top;color:white;">
                <i class="fa fa-angle-up expand-menu" data-ng-click="openMenu($event)"></i>
                <button class="btn btn-success" data-ng-class="{notActive :videoStash.length === 0}" style="margin-right: 10px;height: 31px;font-size: 13px;margin-bottom: 3px;font-size: 12px;width:60%;max-width: 160px;overflow:hidden;float:right;margin-left: 4px;" data-ng-click="loadStashIntoView();" id="buttonSearch"  type="button"> <span data-ng-if="videoStash.length===0"><i class="fa-area fa fa-plus-square"></i> Save Video Playlist</span><span data-ng-if="videoStash.length > 0">{{videoStash.length}} Saved Videos. Load? </span></button>

            </div>
        </div>
        <input type="submit" style="display:none;">
    </form>
    <div style="margin-top: 8px;margin-left: 10px;" class="btn-group btn-group-sm btnSpecial">
        <button type="button" class="btn btn-default" data-ng-class="{'active':searchType === 'viewCount'}" data-ng-click="setFilter('viewCount')">View Count</button>
        <button type="button" class="btn btn-default" data-ng-class="{'active':searchType === 'relevance'}"  data-ng-click="setFilter('relevance')">Relevance</button>
        <button type="button" class="btn btn-default" data-ng-class="{'active':searchType === 'published'}" data-ng-click="setFilter('published')">Published</button>
        <button type="button" class="btn btn-default" data-ng-class="{'active':searchType === 'rating'}" data-ng-click="setFilter('rating')">Rating</button>
    </div>
    <div style="margin-top: 8px;margin-right: 10px;float:right" class="btn-group btn-group-sm btnSpecial">
        <button type="button" class="btn btn-default" data-ng-class="{'active':bigThumbSize}"  data-ng-click="setThumb('big')">Big Thumbs</button>
        <button type="button" class="btn btn-default" data-ng-class="{'active':!bigThumbSize}" data-ng-click="setThumb('small')">Small Thumbs (High CPU)</button>
    </div>
</div>



        <!--
<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
<button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>
-->

<div data-ng-if="showChatArea1" id="showChatArea1" class="chat-area" style="position: fixed;right: 0px;top: 221px;z-index: 100000;">
    <div class="chatHeader">
        <b style="font-size:16px;color:red">Chat Area</b> - <b class="usersWatching">{{usersInRoom.users.length}} Watching:</b>
    </div>
    <div class="usersInRoom" data-ng-repeat="user in usersInRoom.users">
        <span class="chatUserInRoom">{{$index + 1}}) User{{user.user| cut:true:3:' '}}<span data-ng-if="currentSocketId === user.user"> <b style="color:red;">(You)</b></span><span data-ng-if="joinedRoom === user.user"> <b style="color: #66CE5B;">(Host)</b></span>&nbsp;</span>
    </div>
    <form ng-submit="submitChat()" >
        <div class="chatText" data-ng-bind-html="chatText"></div>
        <input id="chatMessageText1" class="userChatSend" placeholder="Please Enter a Chat Message..." type="text" data-ng-model="chatTextSend" />
        <button class="btn btn-primary btnChatSend" style="margin-right: 10px;height: 38px;margin-bottom: 3px;border-radius: 0px 6px 6px 0px;margin-left: 4px;" data-ng-click="submitChat();" type="button">Send Chat</button>
    </form>
</div>

<div class="backdrop-special" data-ng-show="showBackDropSpecial" data-ng-click="hideBackDropSpecial()"></div>
<div style="padding-left: 20px;position:relative;margin: 5px auto;min-height:700px;overflow:hidden">
    <div class="main-video open">
        <!-- <span data-ng-if="hostDisconnected"  class="hostDisconnected"><b>Host has disconnected! <br> Please click <b style="font-size:16px">CLOSE X</b> above </b></b></span> -->
        <div data-ng-if="showChatArea2" class="chat-area">
            <div class="chatHeader">
                <b style="font-size:16px;color:red">Chat Area</b> - <b class="usersWatching">{{usersInRoom.users.length}} Watching:</b>
            </div>
            <div class="usersInRoom" data-ng-repeat="user in usersInRoom.users">
                <span class="chatUserInRoom">{{$index + 1}}) User{{user.user| cut:true:3:' '}}<span data-ng-if="currentSocketId === user.user"> <b style="color:red;">(You)</b></span><span data-ng-if="joinedRoom === user.user"> <b style="color: #66CE5B;">(Host)</b></span>&nbsp;</span>
            </div>
            <div class="chatText" data-ng-bind-html="chatText"></div>
            <form ng-submit="submitChat()" >
                <input id="chatMessageText2" class="userChatSend" placeholder="Please Enter a Chat Message..." type="text" data-ng-model="chatTextSend" />
                <button class="btn btn-primary btnChatSend" style="margin-right: 10px;height: 38px;margin-bottom: 3px;border-radius: 0px 6px 6px 0px;margin-left: 4px;" data-ng-click="submitChat();" type="button">Send Chat</button>
            </form>
        </div>
        <div class="closebox" data-ng-click="closeMainBox()">CLOSE  <i style="font-size: 19px;" class="fa fa-times"></i> </div>
        <div class="black-top">
            <h2 class="videoTitle">
                {{singleVideoData.title}}
            </h2>
        </div>
        <div class="video-area">
            <div class="loadingPlayer"><img src="http://d36k3b01vg7peu.cloudfront.net/gzip/blackloader.gif" class="loading-icon"> Loading Player Please Wait...</div>
        </div>
        <div class="black-bottom">
            <h2 class="left">
                <div class="rating">
                </div>
            </h2>
            <h2 class="left">
                <div class="likes" style="float:left;">
                    <i class="fa fa-heart"></i> {{singleVideoData.likeCount}}
                </div>
                <div class="date">
                    {{singleVideoData.uploaded}}
                </div>
            </h2>
            <h2 class="right">
                <div class="addToStash" data-ng-click="addToStash(singleVideoData.id,$event);"><i class="fa-area fa fa-plus-square"></i> <span class="save-video-text">&nbsp;Save Video</span></div>
                <div style="float:left;position:relative" class="shareBtn" facebook data-name='{{singleVideoData.title}}' data-url='http://www.greatvideo.org/#/video/{{singleVideoData.id}}' data-description=" {{singleVideoData.description}}" data-picture-url='http://i.ytimg.com/vi/{{singleVideoData.id}}/mqdefault.jpg' data-caption='{{singleVideoData.title}}' data-shares='shares'><i class="fa fa-facebook-square"></i> Share</div>
                <div style="float:left;padding-left:15px" class="stats">
                    <i class="fa fa-bar-chart-o"></i>
                    {{singleVideoData.viewCount}}
                </div>
            </h2>
        </div>
        <div class="information" style="height: 80px;background:none;" data-ng-bind-html="singleVideoData.description" style="background:none;">
        </div>
    </div>
    <div class="liveItems" data-ng-class="{'slideDownLiveItems':users}">
        <h2><b style="font-size: 21px;color: #66CE5B;"><i class="fa fa-play-circle" style="margin-right: 5px;"></i>Playing Now.</b> <b> Click to Join and Chat.  Your Username is: <span style="text-decoration:underline;font-weight:bolder;">User{{currentSocketId| cut:true:3:'.'}}</span></b>&nbsp;&nbsp;<span data-ng-if="joinedRoom" style="color:white">Joined Room: User{{joinedRoom| cut:true:3:' '}}</span>  </h2>
        <span style="color:white"></span>
        <br>
        <div style="font-size: 15px;color: #FFF;" data-ng-if="users.length === 0"> No one else is currently watching videos. Be the first!</div>
        <div data-ng-repeat="user in users" style="color:white">
            <div class="smallThumb" data-ng-class="{'you':currentSocketId === user.idx}" data-ng-click="joinRoom(user.idx)">
                <div class="smallTitle">{{user.title | cut:true:50:' ...'}}</div>
                <img data-ng-src="http://img.youtube.com/vi/{{user.videoId}}/default.jpg">
                <div class="smallStatus"><span class="videoStatusSmall">{{user.status}}</span> - {{user.time}}s<br> {{user.pplInRoom}} Users <span style="color: #66CE5B;" data-ng-if="currentSocketId === user.idx"> (You) </span><span data-ng-if="currentSocketId !== user.idx"> User{{user.idx | cut:true:3:' '}}</div>
            </div>
        </div><br>
    </div>
    <h2 style="margin-left: 14px;font-size: 17px;margin-bottom: 8px;">Video Results:</h2>
    <div style="min-height: 400px;overflow:hidden" masonry class="main-area">
        <div class="relatedVideosLoading" style="padding: 35px 0 44px 0;height:100px;font-size:14px;clear:both;font-weight:lighter" data-ng-show="!videos"> <img src="http://d36k3b01vg7peu.cloudfront.net/gzip/blackloader.gif" class="loading-icon"> Loading Related Videos Please Wait...
        </div>
        <div data-video-id="video.id" data-ng-class="{description: video.description, big: bigThumbSize}"  id="{{video.id}}" data-rating="video.rating" class="masonry-brick thumbnail" data-ng-repeat="video in videos">
            <div data-ng-if="showShare" class="shareBtn" facebook data-name='{{video.title}}' data-url='http://www.greatvideo.org/#/video/{{video.id}}' data-description=" {{video.description}}" data-picture-url='http://i.ytimg.com/vi/{{video.id}}/0.jpg' data-caption='{{video.title}}' data-shares='shares'><i class="fa fa-facebook-square"></i> Share</div>
            <div class="addToStash" data-ng-click="addToStash(video.id,$event);"><i class="fa-area fa fa-plus-square"></i> <span class="save-video-text"> Save Video</span></div>
            <div data-ng-class="{big: bigThumbSize}" class="black-top">
                <h2 class="mason-title" data-ng-bind="video.title | cut:true:100:' ...'">
                </h2>
            </div>
            <div class="date" data-ng-bind="video.uploaded">
            </div>
            <div class="img-area">
                <img data-ng-src="http://i.ytimg.com/vi/{{video.id}}/{{thumbSize}}.jpg" alt="A masonry brick">
            </div>
            <div class="playBtn"></div>
            <div class="video-area hide">
               <div class="loadingPlayer"><img src="http://d36k3b01vg7peu.cloudfront.net/gzip/blackloader.gif" class="loading-icon">Loading Player Please Wait...</div>
            </div>
            <div data-ng-class="{big: bigThumbSize}" class="black-bottom">
                <h2 class="left">
                    <div class="rating">
                    </div>
                </h2>
                <h2 class="left">
                    <div class="likes">
                        <i data-ng-hide="!video.likeCount"  class="fa fa-heart"></i> <span data-ng-bind="video.likeCount"></span>
                    </div>
                </h2>
                <h2 class="right">
                    <div class="stats">
                        <i class="fa fa-bar-chart-o"></i>
                        <span data-ng-bind="video.viewCount"></span>
                    </div>
                </h2>
            </div>
            <div data-ng-hide="!video.description" class="information hide">
                <span data-ng-html="video.description" data-ng-if="showInformation"></span>
            </div>

        </div>
    </div>
    <div class="down-arrow up-and-down">Scroll to Load <br> Related Videos<br>
        <i class="fa fa-angle-double-down arrow" ></i>
    </div>
    <div id="player"></div>
</div>

<!-- Small modal -->

<div id="intro-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>

<div class="footer">
    <p>Great Video.org - Search Millions of Great Videos in a new innovative way. Scroll for unlimited free videos.</p>
</div>
