<div data-ng-hide="playerReady" data-ng-show="showLoadingFancy" class="loading-indicator"></div>
<div data-ng-hide="playerReady" data-ng-show="showLoading" class="fixed loading-bar top">
    <span><img id="loading-image" src="http://d36k3b01vg7peu.cloudfront.net/gzip/busy.gif"> Loading Please Wait...</span>
</div>
<div data-ng-hide="playerReady" data-ng-show="showLoading" class="fixed loading-bar bottom">
    <span><img id="loading-image" src="http://d36k3b01vg7peu.cloudfront.net/gzip/busy.gif"> Loading Please Wait...</span>
</div>

<script>
    var loadingFirst = document.getElementsByClassName('loading-indicator-first')[0];
    loadingFirst.parentNode.removeChild(loadingFirst);
</script>

<div id="welcome-banner" class="alert alert-info alert-dismissible" role="alert">
    GreatVideo.org is a <strong>Video Discovery Engine</strong>. Click a Video and it loads related videos. Scroll and it loads videos of interest. Change the thumb size with toggle button below.
</div>
<div  id="autocompleteEl"></div>
<div class="header">
    <div class="progress active">
        <div class="progress-bar progress-bar-danger active"  role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:{{currentLoadedPercentage}}%">
            {{currentLoadedPercentage | number:0 }} %
        </div>
    </div>
    <!--
    <h3 class="text-muted">Video Wall</h3>
    <div class="alert alert-success">
        <b> Welcome!</b> Click an image to load the video. It will load related videos. Scroll it will keep loading related or more videos for a search term.
    </div>
    -->
    <form ng-submit="searchAction()" >
        <div class="search-area">
            <div class="logo-cell">
                <a border="0" href="http://www.greatvideo.org/">
                    <img src="http://d36k3b01vg7peu.cloudfront.net/gzip/avlogo.png" class="logo-img">
                </a>
            </div>
            <div class="search-area-cell">
                <input id="youtubeSearch" placeholder="Search" type="text" data-ng-model="searchTerm" class="form-control youtube-search-box" />
            </div>
            <div class="button-cell">
                <button class="btn btn-primary go-button"  data-ng-click="searchAction();" id="buttonSearch"  type="button">Go!</button>
            </div>
            <div class="open-menu-cell">
                <i class="fa fa-angle-up expand-menu" data-ng-click="openMenu($event)"></i>
                <button class="btn btn-success expand-menu-button" data-ng-class="{notActive :videoStash.length === 0}"  data-ng-click="loadStashIntoView();"  type="button"> <span data-ng-if="videoStash.length===0"><i class="fa-area fa fa-plus-square"></i> Save Video Playlist</span><span data-ng-if="videoStash.length > 0">{{videoStash.length}} Saved Videos. Load? </span></button>

            </div>
        </div>
        <input type="submit" class="hidden-submit-for-autocomplete">
    </form>
    <div class="btn-group btn-group-sm btnSpecial first-filter-group">
        <button type="button" class="btn btn-default" data-ng-class="{'active':searchType === 'viewCount'}" data-ng-click="setFilter('viewCount')">View Count</button>
        <button type="button" class="btn btn-default" data-ng-class="{'active':searchType === 'relevance'}"  data-ng-click="setFilter('relevance')">Relevance</button>
        <button type="button" class="btn btn-default" data-ng-class="{'active':searchType === 'published'}" data-ng-click="setFilter('published')">Published</button>
        <button type="button" class="btn btn-default" data-ng-class="{'active':searchType === 'rating'}" data-ng-click="setFilter('rating')">Rating</button>
    </div>
    <div class="btn-group btn-group-sm btnSpecial thumbnail-group">
        <button type="button" class="btn btn-default" data-ng-class="{'active':bigThumbSize}"  data-ng-click="setThumb('big')">Big Thumbs</button>
        <button type="button" class="btn btn-default" data-ng-class="{'active':!bigThumbSize}" data-ng-click="setThumb('small')">Small Thumbs (High CPU)</button>
    </div>
</div>


<!--
<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
<button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>
-->

<div data-ng-if="showChatArea1" id="showChatArea1" class="chat-area" >
    <div class="chatHeader">
        <b class="chat-header-title">Chat Area</b> - <b class="usersWatching">{{usersInRoom.users.length}} Watching:</b>
    </div>
    <div class="usersInRoom" data-ng-repeat="user in usersInRoom.users">
        <span class="chatUserInRoom">{{$index + 1}}) User{{user.user| cut:true:3:' '}}<span data-ng-if="currentSocketId === user.user"> <b class="chat-area-you">(You)</b></span><span data-ng-if="joinedRoom === user.user"> <b class="host-text">(Host)</b></span>&nbsp;</span>
    </div>
    <form ng-submit="submitChat()" >
        <div class="chatText" data-ng-bind-html="chatText"></div>
        <input id="chatMessageText1" class="userChatSend" placeholder="Please Enter a Chat Message..." type="text" data-ng-model="chatTextSend" />
        <button class="btn btn-primary btnChatSend" data-ng-click="submitChat();" type="button">Send Chat</button>
    </form>
</div>

<div class="backdrop-special" data-ng-show="showBackDropSpecial" data-ng-click="hideBackDropSpecial()"></div>
<div class="chat-container">
    <div class="main-video open">
        <div data-ng-if="showChatArea2" class="chat-area">
            <div class="chatHeader">
                <b class="chat-header-title">Chat Area</b> - <b class="usersWatching">{{usersInRoom.users.length}} Watching:</b>
            </div>
            <div class="usersInRoom" data-ng-repeat="user in usersInRoom.users">
                <span class="chatUserInRoom">{{$index + 1}}) User{{user.user| cut:true:3:' '}}<span data-ng-if="currentSocketId === user.user"> <b class="chat-area-you">(You)</b></span><span data-ng-if="joinedRoom === user.user"> <b class="host-text">(Host)</b></span>&nbsp;</span>
            </div>
            <div class="chatText" data-ng-bind-html="chatText"></div>
            <form ng-submit="submitChat()" >
                <input id="chatMessageText2" class="userChatSend" placeholder="Please Enter a Chat Message..." type="text" data-ng-model="chatTextSend" />
                <button class="btn btn-primary btnChatSend" data-ng-click="submitChat();" type="button">Send Chat</button>
            </form>
        </div>
        <div class="closebox" data-ng-click="closeMainBox()">CLOSE  <i class="fa fa-times close-icon"></i> </div>
        <div class="black-top">
            <h2 class="videoTitle">
                {{singleVideoData.title}}
            </h2>
        </div>
        <div class="video-area">
            <div class="loadingPlayer"><img src="http://d36k3b01vg7peu.cloudfront.net/gzip/blackloader.gif" class="loading-icon"> Loading Player Please Wait...</div>
        </div>
        <div class="black-bottom">
            <h2 class="left">
                <div class="rating">
                </div>
            </h2>
            <h2 class="left">
                <div class="likes">
                    <i class="fa fa-heart"></i> {{singleVideoData.likeCount}}
                </div>
                <div class="date">
                    {{singleVideoData.uploaded}}
                </div>
            </h2>
            <h2 class="right">
                <div class="addToStash" data-ng-click="addToStash(singleVideoData.id,$event);"><i class="fa-area fa fa-plus-square"></i> <span class="save-video-text">&nbsp;Save Video</span></div>
                <div class="shareBtn" facebook data-name='{{singleVideoData.title}}' data-url='http://www.greatvideo.org/#/video/{{singleVideoData.id}}' data-description=" {{singleVideoData.description}}" data-picture-url='http://i.ytimg.com/vi/{{singleVideoData.id}}/mqdefault.jpg' data-caption='{{singleVideoData.title}}' data-shares='shares'><i class="fa fa-facebook-square"></i> Share</div>
                <div class="stats">
                    <i class="fa fa-bar-chart-o"></i>
                    {{singleVideoData.viewCount}}
                </div>
            </h2>
        </div>
        <div class="information" data-ng-bind-html="singleVideoData.description" >
        </div>
    </div>
    <div class="liveItems" data-ng-class="{'slideDownLiveItems':users}">
        <h2 class="play-now-header"><i class="fa fa-play-circle circle-margin"></i>Playing Now.</b> <b> Click to Join and Chat.  Your Username is: <span class="your-user-name">User{{currentSocketId| cut:true:3:'.'}}</span>&nbsp;&nbsp;<span data-ng-if="joinedRoom" class="joined-room-text">Joined Room: User{{joinedRoom| cut:true:3:' '}}</span>  </h2>
        <span class="joined-room-text"></span>
        <br>
        <div class="no-one-else-watching-text" data-ng-if="users.length === 0"> No one else is currently watching videos. Be the first!</div>
        <div data-ng-repeat="user in users" class="joined-room-text">
            <div class="smallThumb" data-ng-class="{'you':currentSocketId === user.idx}" data-ng-click="joinRoom(user.idx)">
                <div class="smallTitle">{{user.title | cut:true:50:' ...'}}</div>
                <img data-ng-src="http://img.youtube.com/vi/{{user.videoId}}/default.jpg">
                <div class="smallStatus"><span class="videoStatusSmall">{{user.status}}</span> - {{user.time}}s<br> {{user.pplInRoom}} Users <span class="chat-area-you" data-ng-if="currentSocketId === user.idx"> (You) </span><span data-ng-if="currentSocketId !== user.idx"> User{{user.idx | cut:true:3:' '}}</div>
            </div>
        </div><br>
    </div>
    <h2 class="video-results-header">Video Results:</h2>
    <div masonry class="main-area">
        <div class="relatedVideosLoading" data-ng-show="!videos"> <img src="http://d36k3b01vg7peu.cloudfront.net/gzip/blackloader.gif" class="loading-icon"> Loading Related Videos Please Wait...
        </div>
        <div data-video-id="video.id" data-ng-class="{description: video.description, big: bigThumbSize}"  id="{{video.id}}" data-rating="video.rating" class="masonry-brick thumbnail" data-ng-repeat="video in videos">
            <div data-ng-if="showShare" class="shareBtn" facebook data-name='{{video.title}}' data-url='http://www.greatvideo.org/#/video/{{video.id}}' data-description=" {{video.description}}" data-picture-url='http://i.ytimg.com/vi/{{video.id}}/0.jpg' data-caption='{{video.title}}' data-shares='shares'><i class="fa fa-facebook-square"></i> Share</div>
            <div class="addToStash" data-ng-click="addToStash(video.id,$event);"><i class="fa-area fa fa-plus-square"></i> <span class="save-video-text"> Save Video</span></div>
            <div data-ng-class="{big: bigThumbSize}" class="black-top">
                <h2 class="mason-title" data-ng-bind="video.title | cut:true:100:' ...'">
                </h2>
            </div>
            <div class="date" data-ng-bind="video.uploaded">
            </div>
            <div class="img-area">
                <img data-ng-src="http://i.ytimg.com/vi/{{video.id}}/{{thumbSize}}.jpg" alt="A masonry brick">
            </div>
            <div class="playBtn"></div>
            <div class="video-area hide">
                <div class="loadingPlayer"><img src="http://d36k3b01vg7peu.cloudfront.net/gzip/blackloader.gif" class="loading-icon">Loading Player Please Wait...</div>
            </div>
            <div data-ng-class="{big: bigThumbSize}" class="black-bottom">
                <h2 class="left">
                    <div class="rating">
                    </div>
                </h2>
                <h2 class="left">
                    <div class="likes">
                        <i data-ng-hide="!video.likeCount"  class="fa fa-heart"></i> <span data-ng-bind="video.likeCount"></span>
                    </div>
                </h2>
                <h2 class="right">
                    <div class="stats">
                        <i class="fa fa-bar-chart-o"></i>
                        <span data-ng-bind="video.viewCount"></span>
                    </div>
                </h2>
            </div>
            <div data-ng-hide="!video.description" class="information hide">
                <span data-ng-html="video.description" data-ng-if="showInformation"></span>
            </div>

        </div>
    </div>
    <div class="down-arrow up-and-down">Scroll to Load <br> Related Videos<br>
        <i class="fa fa-angle-double-down arrow" ></i>
    </div>
    <div id="player"></div>
</div>

<!-- Small modal -->

<div id="intro-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>

<div class="footer">
    <p>Great Video.org - Search Millions of Great Videos in a new innovative way. Scroll for unlimited free videos.</p>
</div>